<div class="card mt-3">
  <h5 class="card-header text-center">My Product List</h5>
  <div class="card-body">
    <button class="btn btn-success" routerLink="create">Create</button><hr>
    <p class="text-danger">Có tất cả {{count}} Sản Phẩm  :</p>
    <table class="table table-bordered mt-3">
      <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let product of products, let i = index">
          <th scope="row">{{ i + 1}}</th>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>
            <a [routerLink]="['/products',  product.id ]"><img src="https://img.icons8.com/cute-clipart/35/000000/edit.png"/></a>&nbsp;&nbsp;
            <a (click)="delete(product.id)"><img src="https://img.icons8.com/bubbles/45/000000/delete-sign.png"/></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
